
    <!DOCTYPE HTML>
    <html>
        <head>
            <meta charset="UTF-8">
                <title>0925</title>
                <link rel="stylesheet" href="css/header-nav.css"></head>
                <body>
                    <div id="clothes">
                        <ul class="category" style="height: 33px; margin: 0; padding: 0; bottom: 13px; position: relative; left: 5px;">
                            <li class="category">
                                <a href="All.html" class="link">
                                    <b>All</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="outerwear.html" class="link">
                                    <b>Outerwear</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="tops.html" class="link">
                                    <b>Tops</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="t-shirts.html" class="link">
                                    <b>T-shirts</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="bottoms.html" class="link">
                                    <b>Bottoms</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="pants.html" class="link">
                                    <b>Pants</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="slacks.html" class="link">
                                    <b>Slacks</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="skirt.html" class="link">
                                    <b>skirt</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="accessory.html" class="link">
                                    <b>Accessory</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="glasses.html" class="link">
                                    <b>Glasses</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="necklace.html" class="link">
                                    <b>Necklace</b>
                                </a>
                            </li>
                            <li class="category">
                                <a href="bag.html" class="link">
                                    <b>Bag</b>
                                </a>
                            </li>
                        </ul>
                    </div>
                </body>
            </html>