@charset "UTF-8";
ul, li {list-style: none;}
* {
	font-family: "맑은 고딕";
}

html {
	width: 100%;
    height: 1000px;;
    background: #f6f8fa;
    overflow-y:scroll;
}
#header {
	position: relative;
	text-align: center;
	background-color: white;
	width: 1000px;
	height: 70px;
	line-height: 25px;
	border: 1px solid #e9e9e9;
	font-size: 15px;
	left: 420px;
}

#header_nav {
	position: relative;
	left: 421px;
	background-color: white;
	float: left;
	width: 1000px;
	height: 30px;
	line-height: 0px;
}
#header_nav{
  	border:1px solid #ccc;
  	border-width:1px 0;
  	list-style:none;
  	margin:0px;
  	text-align: center;
  	color: black;
  	position: relative;
	left: 421px;
	background-color: white;
	float: left;
	width: 1000px;
	height: 35px;
	font-size: 14px;
}
#header_nav li{
  display:inline;
  color: black;
  padding-right: 10px;
}
#header_nav a{
  display:inline-block;
  padding:5px;
  color: black;
}

#header_nav li a {
	position: relative;
	line-height: -40px;
}